* {
  box-sizing: border-box; /*controlles size of divs better, includes padding */
  font-family: "Rubik", sans-serif;
  color: #393c41;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-size: cover;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
